
.navbar {
  width: 100%;
  height: 70px;
  padding: 0 10%;
  background: linear-gradient(135deg, #020617, #0f172a);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #38bdf8;
  cursor: pointer;
}


.navbar ul {
  list-style: none;
  display: flex;
  gap: 35px;
}

.navbar ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #e5e7eb;
  font-weight: 500;
  position: relative;
  transition: 0.3s;
}


.navbar ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: #38bdf8;
  left: 0;
  bottom: -6px;
  transition: 0.3s;
}

.navbar ul li a:hover::after {
  width: 100%;
}

.navbar ul li a:hover {
  color: #38bdf8;
}


.login-btn {
  padding: 8px 18px;
  background: #38bdf8;
  border: none;
  border-radius: 10px;
  color: #020617;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #0ea5e9;
  transform: translateY(-2px);
}


@media (max-width: 768px) {
  .navbar {
    padding: 0 6%;
  }

  .navbar ul {
    gap: 18px;
  }

  .logo {
    font-size: 20px;
  }
}
